:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --side-small: 26;
  --side-big: 20;
  --depth: 275vw;
  --transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

.background {
  position: relative;
  width: calc(var(--index) - 100px);
  z-index: 1;
}
.background_smoke {
  position: relative;
  width: 100%;
  z-index: -1;
  pointer-events: none;
}
.background_smoke img {
  position: fixed;
  z-index: -1;
}
.background-img {
  position: fixed;
  z-index: 0;
  width: 60vw;
}
.woman_vr {
  bottom: 0;
  right: 0;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.woman_vr_blure {
  bottom: 0;
  right: 0;
}

.woman_vr:hover {
  opacity: 1;
}

#shadow_purp {
  height: 100vh;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
}
#shadow_blue {
  height: 100vh;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}
