:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --side-small: 26;
  --side-big: 20;
  --depth: 275vw;
  --transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

.background {
  position: relative;
  width: calc(var(--index) - 100px);
  z-index: -1;
}
.background_smoke {
  position: fixed;
  width: 100%;
  z-index: -1;
  pointer-events: none;
}
.background_smoke img {
  position: fixed;
  z-index: -1;
}
.background-img {
  position: fixed;
  z-index: 0;
  width: 60vw;
  height: 100vh;
}
.woman_vr {
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.woman_vr_blure {
  bottom: 0;
  right: 0;
}

#shadow_purp {
  height: 100vh;
  width: 100vw;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.9;
}
#shadow_blue {
  height: 100vh;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
}

.section_2 .shadow-purp {
  position: fixed;
  height: 105vh !important;
  top: 0vh;
  left: 0;
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
.section_2 .shadow-blue {
  position: fixed;
  height: 105vh !important;
  top: 0vh;
  right: 0vw;
  opacity: 0.6;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.bg {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.bg-wing-animated {
  position: fixed;
  transition: transform 2s ease;
  transform-origin: center;
  height: calc(100vh - 30%);
}

.section_0.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate 1.3s ease-in-out infinite alternate;
}
.section_0.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate 1.3s ease-in-out infinite alternate;
}

.section_2.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate 1.3s ease-in-out infinite alternate;
}
.section_2.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate 1.3s ease-in-out infinite alternate;
}

.section_3.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate3 1.3s ease-in-out infinite alternate;
}
.section_3.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate3 1.3s ease-in-out infinite alternate;
}

.section_4.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate3 1.3s ease-in-out infinite alternate;
}
.section_4.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate3 1.3s ease-in-out infinite alternate;
}

.section_5.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate3 1.3s ease-in-out infinite alternate;
}
.section_5.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate3 1.3s ease-in-out infinite alternate;
}

.section_7.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate3 1.3s ease-in-out infinite alternate;
}
.section_7.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate3 1.3s ease-in-out infinite alternate;
}

.section_8.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate3 1.3s ease-in-out infinite alternate;
}
.section_8.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate3 1.3s ease-in-out infinite alternate;
}

.section_9.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate3 1.3s ease-in-out infinite alternate;
}
.section_9.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate3 1.3s ease-in-out infinite alternate;
}

.section_10.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate3 1.3s ease-in-out infinite alternate;
}
.section_10.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate3 1.3s ease-in-out infinite alternate;
}

.section_11.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate3 1.3s ease-in-out infinite alternate;
}
.section_11.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate3 1.3s ease-in-out infinite alternate;
}

.section_12.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate3 1.3s ease-in-out infinite alternate;
}
.section_12.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate3 1.3s ease-in-out infinite alternate;
}

.section_6.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate 1.3s ease-in-out infinite alternate;
}
.section_6.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate 1.3s ease-in-out infinite alternate;
}

.section_13.active .bg-wing-animated:nth-child(odd) {
  animation: moveLeftRotate 1.3s ease-in-out infinite alternate;
}
.section_13.active .bg-wing-animated:nth-child(even) {
  animation: moveRightRotate 1.3s ease-in-out infinite alternate;
}

@keyframes moveLeftRotate {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(-1.5vw) rotate(-5deg);
  }
}

@keyframes moveRightRotate {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(1.5vw) rotate(5deg);
  }
}

@keyframes moveLeftRotate3 {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(-1.5vw) rotate(-3deg);
  }
}

@keyframes moveRightRotate3 {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(1.5vw) rotate(3deg);
  }
}

.bg-wing-animated.top {
  top: -3vh;
}
.bg-wing-animated.bottom {
  bottom: -3vh;
}
.bg-wing-animated.left {
  left: -3vw;
}
.bg-wing-animated.right {
  right: -3vw;
}

.custom-bg .bg-wing-animated.top {
  top: -4vh;
}
.custom-bg .bg-wing-animated.bottom {
  bottom: -4vh;
}
.custom-bg .bg-wing-animated.left {
  left: -4vw;
}
.custom-bg .bg-wing-animated.right {
  right: -4vw;
}

.dust-purp-twitch {
  position: absolute;
  z-index: -1;
  top: 10vh;
  left: -7vw;
  width: 100%;
  height: 100%;
}
.dust-purp-vkplay {
  position: absolute;
  z-index: -1;
  top: 10vh;
  left: 7vw;
  width: 100%;
  height: 100%;
}

.size-h-full {
  height: 110vh;
}

.bg-section-card {
  position: absolute;
  z-index: -1;
  width: 150%;
  height: 48%;
}

.bg-section-card.section-4-card-1 {
  top: 7vh;
  left: -9vw;
}
.bg-section-card.section-4-card-2 {
  top: 26vh;
  left: -9vw;
}

.bg-section-card.section-7-card-1 {
  top: 16vh;
  left: -9vw;
  height: 30%;
}
.bg-section-card.section-7-card-2 {
  top: 33vh;
  left: -9vw;
  height: 30%;
}
.bg-section-card.section-7-card-3 {
  top: 50vh;
  left: -9vw;
  height: 30%;
}

.bg-section-card.section-8-card-1 {
  top: 11vh;
  left: -9vw;
}
.bg-section-card.section-8-card-2 {
  top: 30vh;
  left: -9vw;
}

.bg-section-card.section-9-card-1 {
  top: 23vh;
  left: -9vw;
}

.bg-section-card.section-10-card-1 {
  top: 15vh;
  left: -9vw;
}
.bg-section-card.section-10-card-2 {
  top: 34vh;
  left: -9vw;
}

.blure_container.purp-left {
  backdrop-filter: blur(25px);
  border-radius: 0.4vw;
  background: rgba(60, 1, 135, 0.3);
  background-image: url("../img/bg/dust-purp-bg-blure-container-left.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.blure_container.purp-right {
  backdrop-filter: blur(25px);
  border-radius: 0.4vw;
  background: rgba(60, 1, 135, 0.3);
  background-image: url("../img/bg/dust-purp-bg-blure-container-right.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_5 .bg-blure-container {
  position: absolute;
  z-index: 0;
  height: 50%;
  width: 50%;
}

.section-5-card-1 {
  top: 9vh;
  left: 0vw;
}
.section-5-card-2 {
  top: 44vh;
  left: 0vw;
}
.section-5-card-3 {
  top: 26vh;
  left: 35vw;
}

.for-video {
  width: 70vw;
  height: 30vh;
}

.dust-up {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

.dust-down {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.bg-needed_col__image {
  position: absolute;
  z-index: -1;
  width: 42vw;
  height: 70vh;
}
.bg-needed_col__image.shild {
  top: 5vh;
  left: -9vw;
}
.bg-needed_col__image.figma {
  top: 5vh;
  left: 20vw;
}
.bg-needed_col__image.roket {
  top: 5vh;
  left: 47vw;
}
