:root {
  --index: calc(1vw - 1vh);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-locale: auto;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

h1,
h2,
h3,
h4 {
  font-family: "Unbounded";
  line-height: normal;
}

body {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 0.833vw;
  line-height: 0.989vw;
  color: #fff;
  background: #0b0a0c;
}

.page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

a,
a:hover,
a:focus {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

button,
button:focus,
input,
input:focus {
  border: 0;
  background: none;
  outline: 0;
  cursor: pointer;
}

li {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.link {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.link:after,
.link:focus:after {
  position: absolute;
  left: 0;
  bottom: -0.1vw;
  height: 0.3vw;
  width: 0;
  content: "";
  background: #fff;
  transition: 0.5s;
}

.link:hover:after {
  width: 100%;
}

.wrapper {
  width: 84vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.7813vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.d-mobile {
  display: none !important;
}

.header {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1001;
  opacity: 0;
  transition: 0.7s;
}

.header.active {
  opacity: 1;
}

.header .wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo__wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  width: 12.5vw;
  padding-top: 2.5vw;
  padding-bottom: 2vw;
}

.logo {
  width: 100%;
  object-fit: contain;
}

.logo__big {
  width: 100%;
  object-fit: contain;
  transition: 0.6s;
}

.dev-back {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0.79vw;
  transition: 0.6s;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dev-back.active {
  opacity: 1;
  pointer-events: all;
}

.dev-back:hover {
  color: #ffffff;
}

.dev-back:after {
  height: 0.1vw;
  bottom: -0.1vw;
}

.dev-back img {
  width: 2vw;
  object-fit: contain;
  margin-left: 0.4vw;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99999992 !important;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  border-radius: 6px;
  width: 215px;
  background-image: url("../img/preloader_bg.jpg");
  background-position: left;
  overflow: hidden;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: #000000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99999991 !important;
}

.loader__logo {
  position: absolute;
  left: 50%;
  top: calc(50% - 70px);
  width: 17vw;
  max-width: 169px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 150px;
  object-fit: contain;
  opacity: 0;
  transition: 0.3s;
  animation: fade 0.3s forwards;
}
.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 215px;
  position: absolute !important;
  z-index: 2000;
  display: block;
  position: absolute;
  height: 10px !important;
  width: 100%;
  background: #000000 !important;
  margin: auto;
  top: 0 !important;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s linear;
}

.background__item {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.head {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
  z-index: 500;
  transform: scale(0.8);
  opacity: 0;
  overflow: hidden;
  filter: blur(0.5vw);
  pointer-events: none;
}

.head.active {
  filter: none;
  transition: 1.4s;
  opacity: 1;
  transform: scale(1);
}

.head.shown {
  transition: 0.2s;
}

.head__img {
  width: 45vw;
  height: 80vh;
  object-fit: contain;
  position: absolute;
  transition: 0.2s linear;
}

.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  transition: 0.6s;
}

.menu.active {
  pointer-events: all;
}

.menu__item {
  color: #fff;
  position: absolute;
  opacity: 0;
  transform: scale(1.25);
  transition: 2s;
  font-family: "Orbitron";
  font-weight: 400;
  pointer-events: none;
}

.menu__item * {
  pointer-events: none;
}

.menu__item.clickable {
  pointer-events: auto;
}

.menu__item.clickable * {
  pointer-events: auto;
}

.menu.dev,
.menu.dev * {
  pointer-events: none !important;
}

.menu__item.active {
  transform: scale(1);
  opacity: 1;
}

.menu__item:hover {
  color: #fff;
}

.menu__item--1 {
  font-size: 5vw;
  line-height: 6vw;
  top: 23vh;
  left: 13vw;
}

.menu__item--2 {
  font-size: 1.66vw;
  line-height: 2vw;
  /*font-size: 5vw;
  line-height: 6vw;*/
  bottom: 20vh;
  left: 16vw;
}

.menu__item--3 {
  font-size: 5vw;
  line-height: 6vw;
  top: 26vh;
  /*right: 9vw;*/
  right: 13vw;
}

.menu__item--4 {
  font-size: 1.66vw;
  line-height: 2vw;
  bottom: 43vh;
  right: 7vw;
}

.menu__item--5 {
  font-size: 2.08vw;
  line-height: 2.5vw;
  bottom: 16vh;
  right: 13vw;
}

.menu__item--4:after,
.menu__item--5:after,
.menu__item--2:after {
  height: 0.2vw;
  bottom: -0.05vw;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  opacity: 0;
  transition: 0.7s;
}

.footer.active {
  opacity: 1;
}

.footer .wrapper {
  height: 4.3vw;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.footer p {
  font-size: 0.78125vw;
  line-height: 0.9375vw;
  color: #4e4e4e;
}

.bottom-menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  margin-right: 1.1vw;
}

.bottom-menu a {
  margin-left: 1.1vw;
  color: #8f8f8f;
  font-size: 0.78125vw;
  line-height: 0.9375vw;
}

.bottom-menu a:hover {
  color: #ffffff;
}

.bottom-menu a:after {
  height: 0.1vw;
  bottom: -0.1vw;
}

.form {
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.7);
  filter: blur(1.5vw);
  transition: 1.2s;
  z-index: 10;
}

.form.active {
  transform: scale(1);
  filter: none;
  opacity: 1;
  pointer-events: all;
}

.menu.dev-active {
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
}

@keyframes head_dev {
  0% {
    opacity: 1;
    transform: scale(1);
    filter: none;
  }
  70% {
    transform: scale(0.8);
    filter: blur(0.7vw);
    opacity: 1;
  }
  100% {
    filter: blur(1.4vw);
    opacity: 0;
    transform: scale(0.8);
  }
}

.head.form-active {
  pointer-events: none;
  animation: head_dev 1s forwards;
  transition: 0.6s;
}

.fullscreen.form-active *,
.menu.form-active *,
.head.form-active * {
  pointer-events: none;
}

.social.form-active {
  opacity: 0;
  pointer-events: none;
}

.move {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  bottom: 1vw;
}

.move__logo {
  height: calc(1.5vw + 3vh);
  margin: 0 calc(2vw + 2vh);
  object-fit: contain;
}

.move .move__inner--1 {
  display: inline-block;
  -webkit-animation: scrolling-left1 45s 0s linear infinite forwards;
  animation: scrolling-left1 45s 0s linear infinite forwards;
  will-change: transform;
}

.move .move__inner--2 {
  display: inline-block;
  -webkit-animation: scrolling-left2 60s linear 0s infinite forwards;
  animation: scrolling-left2 60s linear 0s infinite forwards;
  will-change: transform;
}

@-webkit-keyframes scrolling-left1 {
  0% {
    transform: translateX(0%) translateZ(0);
    -webkit-transform: translateX(0%) translateZ(0);
  }
  100% {
    transform: translateX(-50%) translateZ(0);
    -webkit-transform: translateX(-50%) translateZ(0);
  }
}

@keyframes scrolling-left1 {
  0% {
    transform: translateX(0%) translateZ(0);
    -webkit-transform: translateX(0%) translateZ(0);
  }
  100% {
    transform: translateX(-50%) translateZ(0);
    -webkit-transform: translateX(-50%) translateZ(0);
  }
}

@-webkit-keyframes scrolling-left2 {
  0% {
    transform: translateX(0%) translateZ(0);
    -webkit-transform: translateX(0%) translateZ(0);
  }
  100% {
    transform: translateX(-200%) translateZ(0);
    -webkit-transform: translateX(-200%) translateZ(0);
  }
}

@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%) translateZ(0);
    -webkit-transform: translateX(0%) translateZ(0);
  }
  100% {
    transform: translateX(-200%) translateZ(0);
    -webkit-transform: translateX(-200%) translateZ(0);
  }
}

.ads {
  width: 100%;
  height: 100%;
  position: fixed;
}

.presentation {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.presentation__image {
  width: 100%;
  object-fit: contain;
  max-height: 80vh;
}

.p-nav__list {
  display: none;
  position: absolute;
}

.p-nav {
  position: fixed;
  bottom: 1.05vw;
  left: 1.05vw;
  z-index: 99999;
}

.p-nav__panel {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  background: #23014e;
  border-radius: 3.4vw;
  padding: 0.2vw;
  transition: opacity 0.25s linear, background 0.25s linear, bottom 0.25s linear;
  z-index: 10;
  height: 2.4vw;
}

.p-nav__left,
.p-nav__right {
  border-radius: 100%;
  height: 1.9vw;
  width: 1.9vw;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background: transparent;
  transition: 0.25s;
  cursor: pointer;
}

.p-nav__left img,
.p-nav__right img {
  width: 0.85vw;
  height: 0.85vw;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.p-nav__left img {
  transform: scaleX(-1);
}

.p-nav__left:hover,
.p-nav__right:hover {
  opacity: 1;
  background: #7937dc;
}

.p-nav__number {
  width: 2.7vw;
  height: 1.7vw;
  border-radius: 0.85vw;
  opacity: 1;
  background: transparent;
  color: #fff;
  transition: 0.25s;
  font-size: 1.2vw;
  line-height: 1vw;
  text-align: center;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.105vw;
  font-weight: 400;
}

.p-nav__number:hover,
.p-nav__number.active {
  opacity: 1;
  background: #7937dc;
}

.p-nav__list {
  position: absolute;
  bottom: 3.2vw;
  left: 0;
  background: #23014e;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 1vw;
  padding: 0.52vw 0;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
  pointer-events: none;
}

.p-nav__list.active {
  opacity: 1;
  pointer-events: auto;
}

.p-nav__item {
  padding: 0.7vw 0.9vw;
  background: transparent;
  transition: 0.25s;
  cursor: pointer;
}

.p-nav__item:hover,
.p-nav__item.active {
  background: #7937dc;
}

.p-nav__item.active {
  pointer-events: none;
}

.p-nav__item p {
  color: #fff;
  font-size: 0.8vw;
  line-height: 1.1vw;
  white-space: nowrap;
}

.p-nav {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  scroll-snap-stop: normal;
  transition: opacity 1s ease-out, transform 1s ease-out;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section.active {
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}

.section__desc {
  width: 70%;
  color: #fff;
  font-size: 1.8vh;
  font-weight: 350;
  letter-spacing: 0.04vw;
  line-height: 2vh;
}

.warning {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15% 0;
  background: #060a12;
  padding-top: 34%;
}

.warning__logo {
  max-width: 210px;
  width: calc(32vh + 8vw);
  position: absolute;
  top: calc(10vh + 3vw);
}

.warning p {
  color: #fff;
  text-align: center;
  font-size: calc(2vh + 1.5vw);
  line-height: calc(2.4vh + 1.8vw);
  top: 58%;
  font-weight: 400;
}

.warning__turn {
  max-width: 74px;
  width: calc(15vh + 2.5vw);
  margin-bottom: 3vh;
}

.req .wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7.5vw;
}

.req__inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
}

.req__top h3 {
  margin-bottom: 1.7vh;
}

.req__top {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2.8vh;
}

.req__middle {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.req__middle h3,
.req__bottom h3 {
  color: #ff4d00;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.3vh;
  margin-top: 0;
  width: 100%;
}

.req__table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

.req__table::after {
  position: absolute;
  left: -1px;
  right: 0px;
  top: -1px;
  bottom: 0;
  width: calc(100% - 1px);
  content: "";
  z-index: 10;
  pointer-events: none;
  border: solid 2px #060a12;
}

.req__table td {
  border: solid 1px rgba(255, 255, 255, 0.3);
  font-size: 1.3vh;
  font-weight: 500;
  border-collapse: collapse;
  line-height: 1.4vh;
}

.req__table--left {
  color: rgba(255, 255, 255, 0.7);
  width: 35%;
  padding: 0.8vh 0;
}

.req__table--right {
  color: #fff;
  width: 65%;
  padding: 0.7vh 1.1vw;
}

.req__table--left {
  width: 35%;
}

.req__table--right {
  width: 65%;
}

.req__table--2 .req__table--right {
  width: 65%;
  padding-right: 0;
}

.req__bottom {
  margin-top: 3.6vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.req__bottom--left {
  width: 83%;
}

.req__bottom--right {
  width: 14.5%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.req__bottom--right img {
  width: 100%;
}

.req__bottom--right h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.8vh;
}

.post__pass {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 7vw;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.post__pass--inner {
  width: 19vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__pass--img {
  width: 70%;
  margin-bottom: 2vh;
}

.post__pass--header {
  color: #fff;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.2;
  margin-bottom: 0.45vh;
}

.post__pass--inner #loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post__pass--inner #loginform > p {
  width: 100%;
}

.post__pass--inner #loginform label {
  text-indent: -9999px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post__pass--inner [type="text"],
.post__pass--inner [type="password"] {
  width: 100%;
  height: 3.2vw;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 0.4vw;
  font-size: 1vw;
  transition: 0.4s;
  margin-bottom: 0.1vh;
}
.post__pass--inner [type="text"]:hover,
.post__pass--inner [type="password"]:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.post__pass--inner [type="text"]:focus,
.post__pass--inner [type="password"]:focus {
  border: 1px solid #ff4d00;
}

.post__pass--inner [type="submit"] {
  width: 100%;
  height: 3.2vw;
  color: #fff;
  text-align: center;
  padding: 0.4vw;
  font-size: 1vw;
  transition: 0.4s;
  border-radius: 0;
  font-weight: 600;
  background: #ff4d00;
}

.post__pass--inner .login-remember label {
  text-indent: 0 !important;
  flex-direction: row-reverse !important;
  margin-top: 1.2vh;
  margin-bottom: 1.2vh;
  justify-content: center;
  color: rgba(255, 255, 255, 5);
  font-size: 0.8vw;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.post__pass--inner .login-remember span {
  width: 0.7vw;
  height: 0.7vw;
  transition: 0.3s;
  /*opacity: 0;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 0.5vw;
  border: solid 1px rgba(255, 255, 255, 0.1);
}

.post__pass--inner .login-remember input {
  display: none;
}

.post__pass--inner .login-remember input:checked + span {
  opacity: 1;
  border: solid 1px transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M1 3L4.42857 6L9 1' stroke='%23FF4D00' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.post__pass--failes {
  color: #fff;
  text-align: center;
  font-size: 0.8vw;
}

@media screen and (max-width: 991px) {
  .warning {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
}
@media only screen and (min-aspect-ratio: 1 / 1) {
  .warning {
    padding-top: 24%;
  }
  .warning__logo {
    top: 8vh;
  }
}

@media screen and (min-aspect-ratio: 17 / 9) {
  .desktop_video--left {
    width: 104vh;
    max-width: 68%;
  }
  .desktop_video__adv--item p {
    font-size: 1.35vh;
  }
}

@media screen and (min-aspect-ratio: 17.5 / 9) {
  .creatives__right {
    width: 57vw;
    max-height: 72vh;
    height: 35.4vw;
  }
  .creatives__left {
    width: 21vw;
  }
  .creatives__panel {
    width: 38.3vw;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.loading {
  background: linear-gradient(-45deg, #060a12, #1d242f, #060a12);
  background-size: 400% 400%;
  animation: gradient 3s ease-out infinite;
}

/* NEW STYLES */
.lilo__wrapper {
  align-items: baseline;
}

.content__lilo {
  display: flex;
  flex-direction: column;
  width: 50vw;
  transform: translateX(3vw) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_0.active .content__lilo {
  transform: translateX(0) scale(1);
}
.section_13.active .content__lilo {
  transform: translateX(0) scale(1);
}
.content__lilo__text {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  font-weight: 400;
}

.logo__wrapper-unstable {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.25vw;
}
.dots {
  width: 3.5vw;
  padding-top: 3.5vw;
  padding-bottom: 2vw;
}
.dots__purp {
  width: 5.5vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  transition: 0.6s;
}

.title__head {
  padding-top: 1.5vw;
  font-size: 2.5em;
  color: #ffffff;
  transition: opacity 0.3s ease;
  position: relative;
}

.title__head::after {
  content: attr(data-content);
  position: absolute;
  top: 1.5vw;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.title__head.changing {
  opacity: 0;
}

.title__head.changing::after {
  opacity: 0;
}

.title__head.changed::after {
  opacity: 1;
}

#follow_new_client {
  color: #8f44ff;
  font-weight: 700;
}
#cooperate_with_sreemers {
  color: #168fff;
  font-weight: 700;
}

/* EXPERIMENTAL */

.container-columns {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.section2__column {
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
  width: 30vw;
  align-items: center;
  justify-content: space-between;
}

.section2__column-twitch,
.section2__column-vkplay {
  transition: opacity 1s ease;
}

.section2__column-twitch .twitch-opacity,
.section2__column-twitch .shadow-purp,
.section2__column-vkplay .vkplay-opacity,
.section2__column-vkplay .shadow-blue {
  opacity: 1 !important;
  transition: opacity 1s ease, 0.6s;
}

.container-columns:hover .section2__column-twitch:not(:hover) .twitch-opacity,
.container-columns:hover .section2__column-twitch:not(:hover) .shadow-purp,
.container-columns:hover .section2__column-vkplay:not(:hover) .vkplay-opacity,
.container-columns:hover .section2__column-vkplay:not(:hover) .shadow-blue {
  opacity: 0.3 !important;
}

.section2__column.section2__column-twitch {
  transform: translateX(-3vw) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_2.active .section2__column.section2__column-twitch {
  transform: translateX(0) scale(1);
}
.section2__column.section2__column-vkplay {
  transform: translateX(3vw) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_2.active .section2__column.section2__column-vkplay {
  transform: translateX(0) scale(1);
}
.woman_vr2 {
  position: fixed;
  width: 27vw;
  bottom: -40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  z-index: 1200;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  transform: translateY(8vh) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_2.active .woman_vr2 {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.blure_container {
  z-index: 50;
  width: 100%;
  height: 40vh;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 0.4vw;
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blure_container_content {
  opacity: 0;
  transform: translateX(3vh) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_5.active .blure_container_content {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.blure_container_content h2,
.blure_container_content-s2 h2 {
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
  padding-bottom: 1.2vh;
}

.blure_container_content-s2 p {
  margin-bottom: 3vh;
}

.blure_container_content h3,
.blure_container_content-s2 h3 {
  font-size: 2.63vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
}
.descriptoin_slide {
  position: fixed;
  bottom: 1.65vw;
  z-index: 99999;
  top: auto;
  font-weight: 400;
}
.footer-conteiner-with_description {
  display: inherit;
  align-items: center;
}
.blure_container.twitch {
  background: rgba(60, 1, 135, 0.3);
  background-image: url("../img/bg/dust-purp-twitch-container-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blure_container.vkplay {
  background: rgba(8, 33, 113, 0.3);
  background-image: url("../img/bg/dust-blue-vkplay-container-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blure_container_btn {
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.look_btn {
  z-index: 1000;
}
.blure_container_btn .look_btn {
  position: relative;
  top: -6vh;
  border-radius: 0.48vw;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  width: 24vw;
  padding: 1.5vh 1.75vw;
  border: none;
  text-align: center;
  font-family: Unbounded;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.4px;
  z-index: 100;
}
.blure_container_btn #look-twitch {
  background: #fff;
  color: #8f44ff;
}
.blure_container_btn #look-twitch:active {
  background-color: #ffffffbd;
}
.blure_container_btn #look-vkplay {
  background: #fff;
  color: #2028d1;
}
.blure_container_btn #look-vkplay:active {
  background-color: #ffffffbd;
}

.streem_logo {
  width: 25vw;
  height: 25vh;
  object-fit: contain;
  z-index: 1000;
  transition: 0.6s;
}

.our_network__wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.section_3.active .our_network__wrapper {
  opacity: 1;
}

.bg {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}
.streem {
  object-fit: cover;
}

.streem_3 {
  width: 44vw;
  transform: translateX(-10vh) scale(1.05);
  transition: transform 1s ease-out;
  object-fit: cover;
}
.section_3.active .streem_3 {
  transform: translateX(0) scale(1);
}

.girl_streem {
  position: fixed;
  left: 1vw;
  bottom: -12vh;
  z-index: 1;
  height: 78vh;
  width: 55vw;
  pointer-events: none;
  transform: translateX(-10vh) scale(1.05);
  transition: transform 1s ease-out;
}
.section_3.active .girl_streem {
  transform: translateX(0) scale(1);
}

.section_3__info {
  margin-top: -7vh;
  display: flex;
  flex-direction: column;
  gap: 2.4vh;
  width: 25.5vw;
  opacity: 0;
  transform: translateY(-10vh) scale(1.1);
  transition: opacity 1s ease-out, transform 1s ease-out, 0.6s;
}
.section_3.active .section_3__info {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.section_3__info hr {
  border: 0.769px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}
.section_3__blocks {
  display: flex;
  justify-content: space-between;
}
.block3__wrapper {
  border-radius: 9.229px;
  border: 0.769px solid rgba(255, 255, 255, 0.3);
  padding: 1.75vh 0.75vw;
  width: 8.25vw;
  background-image: url(../img/bt.png);
  background-size: cover;
  cursor: pointer;
  transition-duration: 0.2s;
}
.block3__wrapper:hover {
  scale: 1.05;
}

.section_4-streem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section4__info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.8vh;
  opacity: 0;
  transform: scale(1.05) translateX(3.5vw);
  transition: opacity 1s ease-out, transform 1s ease-out, 0.6s;
}
.section_4.active .section4__info__wrapper {
  opacity: 1;
  transform: scale(1) translateX(0);
}
.section_7.active .section4__info__wrapper {
  opacity: 1;
  transform: scale(1) translateX(0);
}
.section_8.active .section4__info__wrapper {
  opacity: 1;
  transform: scale(1) translateX(0);
}
.section_9.active .section4__info__wrapper {
  opacity: 1;
  transform: scale(1) translateX(0);
}
.section_10.active .section4__info__wrapper {
  opacity: 1;
  transform: scale(1) translateX(0);
}
.section4__title {
  font-size: 2.23vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.slide_title__right {
  display: flex;
  flex-direction: column;
  gap: 1.71vh;
}
.streem_4 {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out, 0.6s;
  margin-right: 2vw;
  object-fit: cover;
}
.section_4.active .streem_4 {
  opacity: 1;
  transform: scale(1);
}

.section4__card {
  padding: 5.2vh 1.9vw;
  backdrop-filter: blur(25px);
  border-radius: 0.4vw;
  background: linear-gradient(90deg, #380b6c 0%, rgba(60, 1, 135, 0) 100%);
  background-image: url("../img/bg/dust purp-bg-container.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section_7 .section4__card .big_title {
  margin-bottom: 0;
}
.section_7 .section4__card {
  padding: 4.2vh 1.9vw;
}

.section4__description {
  font-weight: 700;
}
.card_subtitle {
  font-size: 0.833vw;
  width: 15vw;
  font-weight: 400;
  opacity: 0;
  transform: scale(1.05) translateX(2.5vw);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_4.active .card_subtitle,
.section_7.active .card_subtitle,
.section_8.active .card_subtitle,
.section_9.active .card_subtitle,
.section_10.active .card_subtitle {
  opacity: 1;
  transform: scale(1) translateX(0);
}

.big_title {
  font-family: "Unbounded";
  font-size: 2.63vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0;
  transform: scale(1.05) translateX(2.5vw);
  transition: opacity 1s ease-out, transform 1s ease-out;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-bottom: 1.3vh;
}
.big_title span {
  font-size: 1.8vw;
}
.section_4.active .big_title,
.section_7.active .big_title,
.section_8.active .big_title,
.section_9.active .big_title,
.section_10.active .big_title {
  opacity: 1;
  transform: scale(1) translateX(0);
}

.section_5-cards {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.section_5__wrapper__left {
  width: 36vw;
  display: flex;
  flex-direction: column;
  gap: 3.71vh;
  transition: 0.6s;
}
.section_5_blure__left,
.section_5_blure__right {
  width: 34vw;
  height: 32vh;
  padding: 3.2vh 3.9vw;
}
.girl__6 {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  opacity: 0;
  transform: translateX(3vw) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_5.active .girl__6 {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.btn__blue {
  text-align: center;
  padding: 6.5vh 3.9vw;
  font-weight: 500;
  color: #fff;
  opacity: 1;
  background-image: url("/wp-content/themes/wp-theme-lilo/img/cloud_btn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transform: scale(1.05);
  transition: transform 1s ease-out;
}
.btn__blue:hover {
  transform: scale(1.1);
}

.section_12.active .btn__blue,
.section_13.active .btn__blue {
  transform: scale(1);
}

.btn__blue_sreemers_list {
  left: 14.3vw;
  top: 3.3vh;
}

.streem {
  border: 1px solid #fff;
  border-radius: 0.5vw;
}

.streem_7 {
  width: 48vw;
  height: auto;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_7.active .streem_7 {
  opacity: 1;
  transform: scale(1);
}
.section_7-streem {
  display: flex;
  gap: 6.4vw;
  align-items: center;
}
.section_8.active .streem_8 {
  opacity: 1;
  transform: scale(1);
}
.section_9.active .streem_8 {
  opacity: 1;
  transform: scale(1);
}
.section_10.active .streem_8 {
  opacity: 1;
  transform: scale(1);
}

.look_format {
  color: #ffffff;
  width: 19vw;
  padding: 1.2vh 1.75vw;
  border: 1px solid #ffffff4d;
  border-radius: 0.48vw;
  text-align: center;
  font-family: Unbounded;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.4px;
  transition-duration: 0.4s;
}
.look_format:hover {
  scale: 1.02;
}

.streem_8 {
  width: 47vw;
  height: auto;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.flame_block_with_img_outline {
  display: flex;
  align-items: center;
  width: 48vw;
  position: absolute;
  opacity: 0;
  transform: scale(1.05) translateX(3.5vw);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.img__outline {
  width: 24vw;
  height: 48vh;
  transform: scale(1.05) translateX(3.5vw);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.img__outline_planet {
  width: 22vw;
  height: 38vh;
  transform: scale(1.05) translateX(3.5vw);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_11.active .flame_block_with_img_outline {
  opacity: 1;
  transform: scale(1) translateX(0);
}
.section_11.active .img__outline {
  transform: scale(1) translateX(0);
}

.section_11.active .img__outline_planet {
  transform: scale(1) translateX(0);
}
.flame_block_with_img_outline.top__left {
  top: 13vh;
  right: 44vw;
}
.flame_block_with_img_outline.center__right {
  top: 31vh;
  left: 39vw;
}
.flame_block_with_img_outline.bottom_left {
  bottom: -5vh;
  right: 38vw;
}

.flame__descript {
  padding: 3.25vh 0;
  border-bottom: 1px solid #ffffff4d;
  background-image: url("../img/flame-desc-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.needed_section {
  height: 53vh;
}
.needed_col__wrapper {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  gap: 3vw;
  opacity: 0;
  transform: translateY(-5vh);
  transition: opacity 1s ease-out, transform 1s ease-out;
  margin-bottom: 16vh;
}
.section_12.active .needed_col__wrapper {
  opacity: 1;
  transform: translateY(0);
}

.needed_col__wrapper .needed_col {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  flex-direction: column;
  padding: 1.75vw 6.25vh;
  height: 105%;
  border-radius: 0.4vw;
  backdrop-filter: blur(25px);
  background: linear-gradient(180deg, rgba(245, 63, 161, 0) 0%, #8f245e 60%);
  opacity: 1;
  transition: opacity 0.8s ease-out;
  background-image: url("../img/bg/bg-dust-purp-12.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.needed_col__wrapper:hover .needed_col {
  opacity: 0.5;
}

.needed_col__wrapper .needed_col:hover {
  opacity: 1;
}
.needed_col__title {
  margin-bottom: 1.5vh;
}
.needed__image {
  position: fixed;
  width: 13vw;
  left: 6.2vw;
  bottom: 30vh;
  transition: 0.3s;
}
.needed__image.figma {
  width: 10vw;
  margin: 2.5vh 0;
  left: 7.3vw;
}

.section__ads {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.ads_info {
  width: 30vw;
  opacity: 0;
  transform: translateY(-5vh) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_6.active .ads_info {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.ads_carusel__vertical {
  position: fixed;
  width: 45vw;
  height: 100%;
  right: 8.8vw;
  /* bottom: 30vh; */
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.ads_carusel__vertical::-webkit-scrollbar {
  display: none;
}
.video-border {
  box-sizing: content-box;
  padding: 0.9vh 0.5vw 0.5vh 0.5vw;
  margin-bottom: 0.2vh;
  border: 1px solid #fff;
  border-radius: 0.5vw;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out, 0.6s;
}
.section_6 .video-border {
  width: 42vw;
}
.section_6.active .video-border {
  opacity: 1;
  transform: scale(1);
}
.section_7.active .video-border {
  opacity: 1;
  transform: scale(1);
}
.section_8.active .video-border {
  opacity: 1;
  transform: scale(1);
}
.section_9.active .video-border {
  opacity: 1;
  transform: scale(1);
}
.section_10.active .video-border {
  opacity: 1;
  transform: scale(1);
}

.section_6.active .ads_carusel__vertical {
  opacity: 1;
  transform: scale(1);
}
.ads_carusel__vertical video {
  width: 42vw;
}
.ads_info__cards_container {
  display: grid;
  grid-template-rows: 11.5vh 11.5vh;
  grid-template-columns: 14.75vw 14.75vw;
  gap: 0.4vw;
}
.ads_info__card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ads_info__descript {
  margin-bottom: 0.4vw;
}
.ads_info_cards_arrow {
  width: 1.25vw;
  position: relative;
  bottom: 4vh;
  left: 0.75vw;
}
.twitch-bg-plaseholder {
  position: absolute;
  width: 40vw;
  height: 100vh;
  top: -20vh;
  z-index: 0;
  left: -9vw;
}
.vklay-bg-plaseholder {
  position: absolute;
  width: 40vw;
  height: 100vh;
  top: -15vh;
  left: 0;
  z-index: 0;
}

.bg-sky {
  opacity: 0;
  transform: translateX(-3vw) scale(1.2);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_3.active .bg-sky {
  opacity: 1;
  transform: translateX(0) scale(1);
}
.views-in-streem {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60vh;
  left: 36.2vw;
  background-color: #141316;
  padding: 0.5vw 1vw;
  border-radius: 0.4vw;
  opacity: 0;
  scale: 1.2;
  transform: translateY(-10vh) translateX(-3vw);
  transition: opacity 1s ease-out, transform 1s ease-out;
  border: 1px solid #ffffff4d;
}
.section_3.active .views-in-streem {
  opacity: 1;
  transform: translateY(0) translateX(0);
  scale: 1;
}
.views-count {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 5vw;
  height: 4vh;
  color: #ff8e81;
  font-weight: 500;
  font-size: 1.1vw;
}
.views-count-icon svg {
  margin-right: 0.3vw;
  width: 1.3vw;
  height: 1.3vw;
}

.user-counter-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-counter {
  display: flex;
  position: relative;
}
.digit {
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative;
}
.digit-new {
  position: absolute;
  visibility: visible;
  transform: translateY(100%);
}
.digit-up {
  transform: translateY(-100%) !important;
  opacity: 0;
}
.digit-enter {
  transform: translateY(0);
  opacity: 1;
}

.live-streem {
  position: absolute;
  top: 5.2vh;
}
.live-streem svg {
  width: 4vw;
}
.section_5 {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.section_5.active {
  opacity: 1;
}

.section_5_blure__left,
.bg-blure-container {
  opacity: 0;
  transform: translateX(3vw) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_5.active .section_5_blure__left,
.section_5.active .bg-blure-container {
  opacity: 1;
  transform: translateX(0) scale(1);
}
.section_5_blure__right {
  opacity: 0;
  transform: translateX(3vw) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_5.active .section_5_blure__right {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.background-img {
  transform: translateX(-3vw) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_0.active .background-img {
  transform: translateX(0) scale(1);
}
.section_13.active .background-img {
  transform: translateX(0) scale(1);
}
.line-to-left {
  position: absolute;
  opacity: 0;
  top: 24.5vh;
  left: 37.3vw;
  width: 9vw;
  transform: translateX(-3vw) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_6.active .line-to-left {
  opacity: 0.8;
  transform: translateX(0) scale(1);
}

.line-to-right {
  position: absolute;
  width: 5vw;
  opacity: 0;
  transform: translateX(3vw) translateY(-3vh) scale(1.05);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.section_7 .line-to-right {
  top: 16vh;
  left: 57.8vw;
}
.section_8 .line-to-right {
  top: 24vh;
  left: 56.8vw;
}
.section_9 .line-to-right {
  top: 28vh;
  left: 56.8vw;
}
.section_10 .line-to-right {
  top: 28vh;
  left: 56.8vw;
}

.section_7.active .line-to-right {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
}
.section_8.active .line-to-right {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
}
.section_9.active .line-to-right {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
}
.section_10.active .line-to-right {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
}

.cirkl-animated {
  position: absolute;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  transform: translateY(-10vh);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.cirkl-animated.left-cirkl {
  top: 2vh;
  left: -4.5vw;
}
.cirkl-animated.right-cirkl {
  top: 2vh;
  right: -4.6vw;
}

.section_3.active .cirkl-animated {
  transform: translateY(0);
  opacity: 0.4;
}

.cirkl-out {
  position: absolute;
  top: -3.8vh;
  left: -1.7vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: none;
  border: 1px solid #fff;
  opacity: 0.4;
}
.cirkl-mid {
  position: absolute;
  top: -2.1vh;
  left: -1vw;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background-color: none;
  border: 1px solid #fff;
  opacity: 0.4;
}
.cirkl-in {
  position: absolute;
  top: -0.7vh;
  left: -0.3vw;
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 50%;
  background-color: none;
  border: 1px solid #fff;
  opacity: 0.8;
}

@keyframes pulse-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.section_3.active .one {
  animation: pulse-out 3.5s ease infinite;
}
.section_3.active .two {
  animation: pulse-in 3.5s ease infinite;
}

#smoke-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0 !important;
}

.bg-section-card {
  display: none;
}
.bg-blure-container {
  display: none;
}
.bg-needed_col__image {
  display: none;
}

/* Медиа-запрос для управления контентом по соотношениям сторон */
/*@media screen and (max-width: 1920px) and (max-height: 870px) and (min-aspect-ratio: 1920/870) {*/
@media screen and (min-aspect-ratio: 16/8) {
  .streem_4 {
    width: 90%;
    height: 90%;
    margin-top: 10vh;
  }
  .section4__info__wrapper {
    margin-top: 10vh;
  }
}

/*@media screen and (max-width: 1920px) and (max-height: 800px) and (min-aspect-ratio: 1920/800) {*/
@media screen and (min-aspect-ratio: 16/7) {
  .title__head {
    padding-top: 0.5vw;
  }
  .dots {
    padding-top: 2.5vw;
  }
  .logo__wrapper {
    padding-top: 1.5vw;
  }
  .logo__big {
    width: 90%;
  }
  .section_3__info {
    margin-top: 1vh;
  }
  .streem_4 {
    width: 80%;
    height: 80%;
    margin-top: 20vh;
  }
  .video-border {
    margin-top: 20vh;
  }
  .section4__info__wrapper {
    margin-top: 20vh;
  }
  .section_5__wrapper__left {
    margin-top: 10vh;
  }
  .background-img {
    width: 55vw;
  }
}

/*@media screen and (max-width: 1920px) and (max-height: 700px) and (min-aspect-ratio: 1920/700) {*/
@media screen and (min-aspect-ratio: 16/6) {
  .title__head {
    padding-top: 0vw;
  }

  .dots {
    padding-top: 1.5vw;
  }

  .logo__wrapper {
    padding-top: 0.5vw;
  }
  .logo__big {
    width: 80%;
  }
  .dots__purp {
    width: 5vw;
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
  .streem_logo {
    width: 23vw;
    height: 23vh;
    margin-top: 10vh;
  }
  .section_2 .shadow-purp {
    top: -12vh;
  }
  .section_2 .shadow-blue {
    top: -12vh;
  }
  .section_3__info {
    margin-top: 5vh;
  }
  .streem_4 {
    width: 70%;
    height: 70%;
    margin-top: 30vh;
  }
  .section4__info__wrapper {
    margin-top: 30vh;
  }
  .background-img {
    width: 50vw;
  }
  .needed__image {
    bottom: 35vh;
  }
  .needed__image.figma {
    width: 9vw;
    left: 8.5vw;
  }
}
/*@media screen and (max-width: 1920px) and  (max-height: 580px) and (min-aspect-ratio: 1920/580) {*/
@media screen and (min-aspect-ratio: 16/5) {
  .logo__big {
    width: 60%;
  }
  .dots__purp {
    width: 4.5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .streem_logo {
    width: 20vw;
    height: 20vh;
    margin-top: 15vh;
  }
  .section_2 .shadow-purp {
    top: -10vh;
  }
  .section_2 .shadow-blue {
    top: -10vh;
  }
  .section_3__info {
    margin-top: 15vh;
  }
  .streem_4 {
    width: 60%;
    height: 60%;
    margin-top: 40vh;
  }
  .section4__info__wrapper {
    margin-top: 40vh;
  }
  .video-border {
    margin-top: 40vh;
  }
  .needed__image {
    width: 10vw;
    bottom: 43vh;
    left: 8vw;
  }
  .needed__image.figma {
    width: 7vw;
    left: 8.5vw;
  }
  .background-img {
    width: 40vw;
  }
}