<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>Lilo</title>
  </head>
  <body>
    <header>
      <div class="container on_home">
          <a class="back-to-main" href="#"
            ><span>back to main</span>
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="close 1">
                <path
                  id="Vector"
                  d="M8.75 8.75L21.25 21.25"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
                <path
                  id="Vector_2"
                  d="M8.75 21.25L21.25 8.75"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
              </g>
            </svg>
          </a>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="background">
        <img
          class="background-img"
          src="/assets/images/woman-wearing-vr-glasses-gaming 2.png"
          alt="blure"
        />
        <img
          class="background-img woman"
          src="/assets/images/woman-wearing-vr-glasses-gaming 1 (1) 1.png"
          alt="woman wearing vr glasses gaming"
        />
      </div>
      <div class="content-main">
        <div class="content-main-big-logo">
          <svg
            width="700"
            height="217"
            viewBox="0 0 700 217"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1_60)">
              <path
                d="M513.28 108.013C513.28 100.471 519.395 94.3563 526.937 94.3563H666.631C674.173 94.3563 680.288 100.471 680.288 108.013V183.904C680.288 191.447 674.173 197.561 666.631 197.561H513.28V108.013Z"
                stroke="white"
                stroke-width="38.2393"
              />
              <path
                d="M0.000442505 65.1508L45.8876 97.8076V216.469H0.000442505V65.1508Z"
                fill="white"
              />
              <path
                d="M123.489 216.469C138.805 216.469 152.079 205.863 155.458 190.924L160.059 170.582H0.000152588L0.000154594 216.469H123.489Z"
                fill="white"
              />
              <path
                d="M293.493 97.9274L339.38 65.1508V216.469H293.493V97.9274Z"
                fill="white"
              />
              <path
                d="M416.981 216.469C432.297 216.469 445.571 205.863 448.95 190.924L453.551 170.582H293.493V216.469H416.981Z"
                fill="white"
              />
              <path
                d="M226.776 51.995C241.134 51.995 252.773 40.3556 252.773 25.9975C252.773 11.6395 241.134 3.05176e-05 226.776 3.05176e-05C212.418 3.05176e-05 200.778 11.6395 200.778 25.9975C200.778 40.3556 212.418 51.995 226.776 51.995Z"
                fill="#8F44FF"
              />
              <path
                d="M249.785 216.681V81.5565L226.913 65.0045L204.041 81.5565V216.681H249.785Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_1_60">
                <rect width="700" height="216.681" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="content-main-dots">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="90"
            height="22"
            viewBox="0 0 90 22"
            fill="none"
          >
            <circle cx="7" cy="11" r="7" fill="#8F44FF" />
            <circle cx="45" cy="11" r="11" fill="#8F44FF" />
            <circle cx="83" cy="11" r="7" fill="#8F44FF" />
          </svg>
        </div>
        <div class="main-content-text">
          <p>
            <b>
              Lilo - уникальная сеть для быстрого и качественного вывода в топ
              стримеров на популярных платформах.
            </b>
          </p>
          <p>
            Продвижение происходит за счет
            <b
              ><a id="follow_new_client" href="#"
                >привлечения целевой аудитории</a
              ></b
            >
            со внешних площадок и прироста органического онлайна с
            использованием заметных креативов.
          </p>
          <p>
            Наша платформа
            <b
              ><a id="cooperate_with_sreemers" href=""
                >сотрудничает со стримерами всех уровней</a
              ></b
            >, от новичков до опытных профессионалов.
          </p>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="menu">
          <button id="menu-left-btn" class="menu-btn">
            <svg
              width="14"
              height="22"
              viewBox="0 0 14 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="Ar L"
                d="M12.2132 21L2.21317 10.6296L11.4989 1"
                stroke="white"
                stroke-width="2.2579"
              />
            </svg>
          </button>
          <span class="menu-counter"> 1 </span>
          <button id="menu-right-btn" class="menu-btn">
            <svg
              width="13"
              height="22"
              viewBox="0 0 13 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="Ar R"
                d="M0.805328 21L10.8053 10.6296L1.51961 1"
                stroke="white"
                stroke-width="2.2579"
              />
            </svg>
          </button>
        </div>
        <div>
          <nav class="navbar footer-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Requisites</a>
              </li>
              <li>
                <a class="nav-link" href="#">Site map </a>
              </li>
              <li>
                <a class="nav-link" href="#">Confidentiality</a>
              </li>
              <li>
                <span class="nav-link" href="#">Foxible © 2021–2024</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>
