<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/style.css" />
    <!-- <link rel="stylesheet" href="/assets/css/main.css" /> -->
    <title>Lilo</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar">
          <div class="menu-container">
            <a class="logo" href="#">
              <svg
                width="172"
                height="54"
                viewBox="0 0 172 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="Logo Lilo 1" clip-path="url(#clip0_1_4145)">
                  <path
                    id="Vector"
                    d="M126.12 26.5405C126.12 24.6873 127.623 23.1848 129.476 23.1848H163.801C165.654 23.1848 167.156 24.6873 167.156 26.5405V45.1881C167.156 47.0413 165.654 48.5438 163.801 48.5438H126.12V26.5405Z"
                    stroke="white"
                    stroke-width="9.39595"
                  />
                  <path
                    id="Vector_2"
                    d="M0 16.0085L11.2751 24.0328V53.1897H0V16.0085Z"
                    fill="white"
                  />
                  <path
                    id="Vector_3"
                    d="M30.343 53.1896C34.1064 53.1896 37.3679 50.5835 38.1982 46.9128L39.3288 41.9146H0L4.92929e-07 53.1896H30.343Z"
                    fill="white"
                  />
                  <path
                    id="Vector_4"
                    d="M72.1152 24.0622L83.3903 16.0085V53.1897H72.1152V24.0622Z"
                    fill="white"
                  />
                  <path
                    id="Vector_5"
                    d="M102.458 53.1896C106.222 53.1896 109.483 50.5835 110.313 46.9128L111.444 41.9146H72.1152V53.1896H102.458Z"
                    fill="white"
                  />
                  <path
                    id="Vector_6"
                    d="M55.7222 12.7759C59.2502 12.7759 62.1101 9.91593 62.1101 6.38796C62.1101 2.85999 59.2502 0 55.7222 0C52.1942 0 49.3342 2.85999 49.3342 6.38796C49.3342 9.91593 52.1942 12.7759 55.7222 12.7759Z"
                    fill="white"
                  />
                  <path
                    id="Vector_7"
                    d="M61.3756 53.2415V20.0395L55.7557 15.9724L50.1357 20.0395V53.2415H61.3756Z"
                    fill="white"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_4145">
                    <rect width="172" height="53.2416" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
            <div>
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="52"
                  height="13"
                  viewBox="0 0 52 13"
                  fill="none"
                >
                  <circle cx="4.04444" cy="6.3556" r="4.04444" fill="white" />
                  <circle cx="26" cy="6.35556" r="6.35556" fill="white" />
                  <circle cx="47.9555" cy="6.3556" r="4.04444" fill="white" />
                </svg>
              </span>
              <h1>Платформы</h1>
            </div>
          </div>
          <a class="back-to-main" href="#"
            ><span>back to main</span>
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="close 1">
                <path
                  id="Vector"
                  d="M8.75 8.75L21.25 21.25"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
                <path
                  id="Vector_2"
                  d="M8.75 21.25L21.25 8.75"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
              </g>
            </svg>
          </a>
        </nav>
      </div>
    </header>

    <div class="container">
      <div class="container-columns">
        <div class="column">
          <img
            class="wtitch_logo"
            src="/assets/images/logo-twitch.svg"
            alt="twitch"
          />
          <div class="blure_container twitch">
            <div class="blure_container_content">
              <h3>20 тысяч</h3>
              <p>Прямых трансляций</p>
              <h3>1 миллион</h3>
              <p>Активных зрителей</p>
            </div>
          </div>
          <div class="blure_container_btn">
            <button class="look_btn" id="look-wtitch">Посмотреть формат</button>
          </div>
        </div>
        <div class="column">
          <img
            class="vkplay_logo"
            src="/assets/images/logo-vkplay1.svg"
            alt="vkplay"
          />
          <div class="blure_container vkplay">
            <div class="blure_container_content">
              <h3>2 тысячи</h3>
              <p>Прямых трансляций</p>
              <h3>170 тысяч</h3>
              <p>Активных зрителей</p>
            </div>
          </div>
          <div class="blure_container_btn">
            <button class="look_btn" id="look-vkplay">Посмотреть формат</button>
          </div>
        </div>
      </div>
    </div>
    <div class="woman_vr"></div>
    <div class="background"></div>

    <footer class="container-xxl">
      <div class="footer-container">
        <div class="footer-conteiner-with_description">
          <div class="menu dropup-center dropup">
            <button id="menu-left-btn" class="menu-btn">
              <svg
                width="14"
                height="22"
                viewBox="0 0 14 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  id="Ar L"
                  d="M12.2132 21L2.21317 10.6296L11.4989 1"
                  stroke="white"
                  stroke-width="2.2579"
                />
              </svg>
            </button>
            <button
              class="menu-counter"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              1
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Запуск</a></li>
              <li>
                <a class="dropdown-item" href="#">Что нужно для запуска?</a>
              </li>
              <li><a class="dropdown-item" href="#">Форматы (Banner)</a></li>
              <li>
                <a class="dropdown-item" href="#">Форматы (Overlay banner)</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Форматы (Bar in video)</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Преимущества работы с лило</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Контент всегда в топе</a>
              </li>
              <li><a class="dropdown-item" href="#">Стример получает</a></li>
              <li><a class="dropdown-item" href="#">Наша сеть</a></li>
              <li><a class="dropdown-item" href="#">Платформы</a></li>
              <li><a class="dropdown-item active" href="#">Lilo</a></li>
            </ul>
            <button id="menu-right-btn" class="menu-btn">
              <svg
                width="13"
                height="22"
                viewBox="0 0 13 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  id="Ar R"
                  d="M0.805328 21L10.8053 10.6296L1.51961 1"
                  stroke="white"
                  stroke-width="2.2579"
                />
              </svg>
            </button>
          </div>
          <div class="descriptoin_slide">Средние значения в день*</div>
        </div>
        <div>
          <nav class="navbar footer-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Requisites</a>
              </li>
              <li>
                <a class="nav-link" href="#">Site map </a>
              </li>
              <li>
                <a class="nav-link" href="#">Confidentiality</a>
              </li>
              <li>
                <span class="nav-link" href="#">Foxible © 2021–2024</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
    <div class="background_smoke">
      <img id="shadow_purp" src="/assets/images/shadow-purp.svg" alt="" />
      <img id="shadow_blue" src="/assets/images/shadow blue.svg" alt="" />
      <img
        id="smoke_purp_top_1"
        class="smoke"
        src="/assets/images/aset-pngwing 18.png"
        alt=""
      />
      <img
        id="smoke_purp_top_2"
        class="smoke"
        src="/assets/images/asset-pngwing 19.png"
        alt=""
      />
      <img
        id="smoke_blue_left_1"
        class="smoke"
        src="/assets/images/blue1pngwing 18.png"
        alt=""
      />
      <img
        id="smoke_blue_bottom_2"
        class="smoke"
        src="/assets/images/blue2pngwing 18.png"
        alt=""
      />
      <img
        id="smoke_blue_bottom_3"
        class="smoke"
        src="/assets/images/blue3pngwing 18.png"
        alt=""
      />
      <img
        id="smoke_blue_bottom_4"
        class="smoke"
        src="/assets/images/bluepngwing 18.png"
        alt=""
      />
      <img
        id="smoke_blue_left_5"
        class="smoke"
        src="/assets/images/pngwing 18.png"
        alt=""
      />
      <img
        id="smoke_purp_right_3"
        class="smoke"
        src="/assets/images/pngwing 20.png"
        alt=""
      />
      <img
        id="smoke_purp_right_4"
        class="smoke"
        src="/assets/images/pngwing 21.png"
        alt=""
      />
      <img
        id="smoke_purp_bottom_5"
        class="smoke"
        src="/assets/images/pngwing 22.png"
        alt=""
      />
      <img
        id="smoke_purp_bottom_6"
        class="smoke"
        src="/assets/images/pngwing 23.png"
        alt=""
      />
      <img
        id="smoke_purp_top_7"
        class="smoke"
        src="/assets/images/pngwing 24.png"
        alt=""
      />
      <img
        id="smoke_purp_top_8"
        class="smoke"
        src="/assets/images/pngwing 25.png"
        alt=""
      />
      <img
        id="smoke_purp_right_9"
        class="smoke"
        src="/assets/images/pngwing 26.png"
        alt=""
      />
      <img
        id="smoke_purp_right_10"
        class="smoke"
        src="/assets/images/pngwing 27.png"
        alt=""
      />
      <img
        id="shadow_purp_opasity"
        src="/assets/images/shadow purp 0 20.png"
        alt=""
      />
      <img
        id="shadow_blue_opasity"
        src="/assets/images/shadow blue 0 20.png"
        alt=""
      />
    </div>
  </body>
</html>
